[Desktop Entry]
Name=drawio
Exec=start-drawio %U
Terminal=false
Type=Application
Icon=com.jgraph.drawio.desktop
StartupWMClass=draw.io
Comment=diagrams.net desktop
MimeType=application/vnd.jgraph.mxfile;application/vnd.visio;
Categories=Graphics;
Keywords=chart;diagram;flowchart;process;uml;workflow;
